# build output
dist/
.output/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
*.log

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains editor folder
.idea/

# vscode
.vscode/*
!.vscode/extensions.json

# tests
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
coverage/
